body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  background-color: #ffffff;
}

/* header */
.header {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  /*Logo*/
  /*Menu*/
  /*Item*/
  /*Icono barra*/
  /*Icono barra-hamb*/
}

.header-logo {
  display: block;
  float: left;
  padding-left: 1em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  width: 1.5em;
  height: 1.5em;
}

.header-menu {
  list-style: none;
  overflow: hidden;
  background-color: #0000ec;
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  padding-left: 1em;
}

.header-item {
  display: block;
  padding-top: 1em;
  padding-bottom: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1em;
}

.header-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding-top: 1.4em;
  padding-right: 1.188em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-navicon {
  background: #060a24;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 18px;
}

.header .header-icon .header-navicon:before,
.header .header-icon .header-navicon:after {
  background: #060a24;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .header-icon .header-navicon:before {
  top: 5px;
}

.header .header-icon .header-navicon:after {
  top: -5px;
}

/* menu btn */
.header .header-btn {
  display: none;
}

.header .header-btn:checked ~ .header-menu {
  max-height: 240px;
}

.header .header-btn:checked ~ .header-icon .header-navicon {
  background: transparent;
}

.header .header-btn:checked ~ .header-icon .header-navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header-btn:checked ~ .header-icon .header-navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header-btn:checked ~ .header-icon:not(.steps):not(.steps) .header-navicon:before,
.header .header-btn:checked ~ .header-icon:not(.steps):not(.steps) .header-navicon:after {
  top: 0;
}

/* Escritorio = 1024px */
@media (min-width: 1024px) {
  .header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
  .header-logo {
    padding-left: 6.25em;
    padding-bottom: 1.375em;
    padding-top: 1.375em;
    width: 2.25em;
    height: 2.25em;
  }
  .header-icon {
    display: none;
  }
  .header-item {
    padding-right: 3em;
    padding-left: 0;
    background-color: #ffffff;
    color: #060a24;
  }
  .header-items {
    display: inline-block;
  }
  .header-menu {
    max-height: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFFFFF;
  }
}

.introduccion {
  display: block;
  color: #060a24;
  margin-left: 1em;
}

.introduccion-content {
  padding-top: 1em;
}

.introduccion-holamundo {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  margin: 0;
  display: inline-block;
  margin: 0;
  line-height: 1.14em;
}

.introduccion-holamundo:nth-child(2) {
  text-decoration: line-through;
}

.introduccion-holamundo:nth-child(3) {
  width: 100%;
}

.introduccion-holamundo:nth-child(3)::after {
  content: ".";
  color: black;
}

.introduccion-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875em;
  margin: 0;
  margin-right: 1em;
  padding-top: 1em;
  line-height: 1.375em;
}

.introduccion-desktop {
  display: none;
}

.introduccion-botonmas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding-left: 3.688em;
  padding-right: 3.688em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #00f3bb;
  text-align: center;
  text-decoration: none;
  margin-top: 2.25em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  color: #060a24;
  font-weight: 600;
}

.introduccion-botonmas:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f3bb 100%);
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .introduccion {
    margin-left: 12.5em;
  }
  .introduccion-content {
    padding-top: 0%;
    margin-top: 7.5em;
  }
  .introduccion-holamundo {
    font-size: 4em;
    display: inline;
  }
  .introduccion-holamundo:nth-child(3)::after {
    content: ".";
    color: #0000ec;
  }
  .introduccion-desktop {
    display: inline-block;
    width: 628px;
    line-height: 24px;
    font-size: 1em;
    margin: 0;
    padding-top: 0.5em;
  }
  .introduccion-mobile {
    display: none;
  }
  .introduccion-botonmas {
    font-size: 1.125em;
    width: 6.75em;
    position: relative;
    margin-right: 81%;
    margin-top: 3.5em;
    padding-left: 3.15em;
    padding-right: 3.15em;
  }
}

.episodios {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  position: relative;
  color: white;
  font-size: 2.25em;
  font-weight: 400;
  padding-bottom: 3.5em;
}

.episodios-title {
  padding-top: 50px;
  display: block;
  padding-bottom: 0.9em;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.167em;
  width: 70%;
  margin: 0;
  padding-left: 0.444em;
}

.episodios-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.episodios-iframes {
  width: 90%;
  height: 7em;
  border: none;
}

.mySVG {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.mySVG2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 29px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .episodios {
    padding: 8% 8% 15%;
  }
  .episodios-title {
    padding-left: 1.3em;
    font-size: 48px;
  }
  .episodios-topics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 3%;
            column-gap: 3%;
    row-gap: 5%;
  }
  .episodios-iframes {
    width: 100%;
    height: 5em;
  }
}

.venimosde {
  color: #060a24;
  position: relative;
  bottom: 90px;
}

.venimosde-phone {
  max-width: 100%;
}

.venimosde-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.167em;
  width: 70%;
  margin: 0;
  padding-left: 0.444em;
}

.venimosde-parrafo {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.89em;
  line-height: 1.375em;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .venimosde {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    max-width: 90%;
    margin: 0 4.3% 0 11.5%;
  }
  .venimosde-phone {
    height: 630px;
    margin-top: -3em;
    margin-left: 1.5em;
  }
  .venimosde-text {
    margin-top: 10em;
    margin-left: -2em;
    line-height: 1.5em;
  }
  .venimosde-title {
    font-size: 48px;
    padding-left: 0.3em;
  }
  .venimosde-parrafo {
    width: 68%;
  }
}

.guests-titulo {
  margin-top: 0em;
  margin-bottom: 0.389em;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.167em;
  width: 70%;
  padding-left: 0.444em;
}

.guests-imgcontainer {
  font-size: 0;
}

.guests img {
  max-width: 100%;
  border: none;
}

@media screen and (min-width: 1024px) {
  .guests-imgcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .guests-titulo {
    margin-top: -1em;
    margin-bottom: 1em;
    margin-left: 4.2em;
    font-size: 48px;
  }
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topics-htitulo {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.167em;
  width: 70%;
  margin: 0;
  padding-left: 0.444em;
  padding-bottom: 1.028em;
  padding-top: 1.333em;
  position: relative;
  width: 100%;
}

.topics-icon {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.topics-icontitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #060a24;
  text-align: center;
  margin-top: 0.813em;
  margin-bottom: 3.063em;
}

@media screen and (min-width: 1024px) {
  .topics {
    width: 65%;
  }
  .topics-htitulo {
    margin-left: 360px;
    font-size: 3em;
  }
  .topics-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 480px;
    width: 100%;
  }
}

.novedades {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  position: relative;
  color: white;
  padding-bottom: 4.188em;
}

.novedades-mySVG {
  height: 600px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.novedades-last {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.167em;
  text-align: center;
  padding-top: 1.778em;
  padding-bottom: 1.028em;
  margin: 0;
  width: 70%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.novedades-botonescucha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #00f3bb;
  text-align: center;
  text-decoration: none;
  margin: 0 1em 0;
  color: #060a24;
}

.novedades-botonescucha:hover {
  background-color: gray;
}

@media screen and (min-width: 1024px) {
  .novedades {
    padding-top: 6em;
    padding-bottom: 151px;
  }
  .novedades-last {
    font-size: 48px;
    padding-bottom: 0;
    padding-left: 1em;
  }
  .novedades-botonescucha {
    font-size: 1.125em;
    width: 24%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 2em;
    padding-right: 1em;
  }
  .novedades-botonescucha:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f3bb 100%);
    color: #ffffff;
    cursor: pointer;
  }
}

.footers {
  padding: 1em;
  text-align: center;
  color: #060a24;
}

.footers-copyright {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 1.375em;
  margin: 0;
  padding-bottom: 1em;
}

.footers-networks {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footers a:visited {
  color: #060a24;
}

@media screen and (min-width: 1024px) {
  .footers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.25em 0;
    padding-left: 8%;
    padding-right: 8%;
    height: 10px;
  }
  .footers-networks {
    width: 20%;
    padding: 0;
  }
}
/*# sourceMappingURL=styles.css.map */